{% extends "layout.html" %}
  
{% block content %}
  <h2>Hello page started here.....</h2>
  <h2>This page  is ongoing...</h2>
  
  <h3>Developed by taybur Rahaman</h3>
  <h3>Checking contineus integration </h3>
  <h3>This is an About page for the Intro to Flask article.Its all are undergoing process.....</h3>
  <h3>"The Diary Of Jane (Carl B mix)"
If I had to, I would put myself right beside you
So let me ask, would you like that, would you like that?
And I don't mind, if you say this love, is the last time
So now I'll ask, do you like that, do you like that?
No, something's getting in the way, something's just about to break.
I will try to find my place, in the diary of Jane.
So tell me, how it should be?
Try to find out, what makes you tick, as I lie down
Sore and sick, do you like that, do you like that?
There's a fine line, between love and hate and I don't mind.
Just let me say, that I like that, I like that
Something's getting in the way, something's just about to break.
I will try to find my place, in the diary of Jane.
As i .. <h3>
{% endblock %}
